---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
Toluwalope Adelusi is a dynamic and results-driven digital marketer with a passion for crafting innovative strategies that drive brand growth and engagement. With a proven track record in leveraging cutting-edge digital tools and analytics, Toluwalope specializes in delivering measurable outcomes through creative content, strategic campaigns, and data-driven decision-making.
With expertise spanning social media management, SEO, PPC, email marketing, and brand storytelling, Toluwalope has helped businesses of all sizes elevate their online presence and achieve their marketing goals. Known for a keen eye for trends and a commitment to staying ahead in the ever-evolving digital landscape, Toluwalope brings a unique blend of creativity, strategy, and technical proficiency to every project.
Whether building brand visibility, increasing customer acquisition, or enhancing audience engagement, Toluwalope is dedicated to empowering businesses to succeed in the digital age.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bsc Environmental Management Resources"
      subtitle="2012 to 2017 at Federal University of Agriculture Abeokuta, Alabata Ogun State, Nigeria"
    />
      title="Certification in Project Management"
      subtitle="[2019] to [2020] at [Chaterterd Nigerian Institute of Management], [Lagos ], [Country]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Digital Marketer at Honey Treat Academy"
      subtitle="Sept 2024 to Dec 2024 at Honey Treat Academy, Lagos, Country"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Digital Martketer & Social Media Manager"
      subtitle="From March 2024 till date  at Laden System Solutions, Ikeja Lagos, Nigeria"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Digital Marketer TL & Social Mecdia Manager"
      subtitle="From 2021 Till date at Eternal Gems Multiventure, Ikeja Lagos , Nigeria"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
